@{
    ViewData["Title"] = "GradientBoosting";
}
<style>
    .conteneur-bouton {
        text-align: center;
    }

    .bouton-envoyer {
        margin: 0 auto;
    }
</style>
<h2>Veuillez choisir vos paramètres</h2>
<form method="get" action="">

    <div>
        <label for="param1">loss</label>
        <select name="loss" id="param1">
            <option value="log_loss" selected>log_loss</option>
            <option value="exponential">exponential</option>
        </select>
        <p>Description : The loss function to be optimized.</p>
    </div>

    <div>
        <label for="param2">learning_rate</label>
        <input type="number" name="learning_rate" id="param2" value="0.1" step="0.01" min="0.0">
        <p>Description : Learning rate shrinks the contribution of each tree.</p>
    </div>

    <div>
        <label for="param3">n_estimators</label>
        <input type="number" name="n_estimators" id="param3" value="100" min="1">
        <p>Description : The number of boosting stages to perform.</p>
    </div>

    <div>
        <label for="param4">subsample</label>
        <input type="number" name="subsample" id="param4" value="1.0" step="0.01" min="0.01" max="1.0">
        <p>Description : The fraction of samples to be used for fitting the individual base learners.</p>
    </div>

    <div>
        <label for="param5">criterion</label>
        <select name="criterion" id="param5">
            <option value="friedman_mse" selected>friedman_mse</option>
            <option value="squared_error">squared_error</option>
        </select>
        <p>Description : The function to measure the quality of a split.</p>
    </div>

    <div>
        <label for="param6">min_samples_split</label>
        <input type="text" name="min_samples_split" id="param6" value="2">
        <p>Description : The minimum number of samples required to split an internal node.</p>
    </div>

    <div>
        <label for="param7">min_samples_leaf</label>
        <input type="text" name="min_samples_leaf" id="param7" value="1">
        <p>Description : The minimum number of samples required to be at a leaf node.</p>
    </div>

    <div>
        <label for="param8">min_weight_fraction_leaf</label>
        <input type="number" name="min_weight_fraction_leaf" id="param8" value="0.0" step="0.01" min="0.0" max="0.5">
        <p>Description : The minimum weighted fraction of the sum total of weights required to be at a leaf node.</p>
    </div>

    <div>
        <label for="param9">max_depth</label>
        <input type="text" name="max_depth" id="param9" value="3">
        <p>Description : Maximum depth of the individual regression estimators.</p>
    </div>

    <div>
        <label for="param10">min_impurity_decrease</label>
        <input type="text" name="min_impurity_decrease" id="param10" value="0.0">
        <p>Description : A node will be split if this split induces a decrease of the impurity greater than or equal to this value.</p>
    </div>

    <div>
        <label for="param11">init</label>
        <input type="text" name="init" id="param11" value="None">
        <p>Description : An estimator object that is used to compute the initial predictions.</p>
    </div>

    <div>
        <label for="param12">random_state</label>
        <input type="text" name="random_state" id="param12" value="None">
        <p>Description : Controls the random seed given to each Tree estimator at each boosting iteration.</p>
    </div>

    <div>
        <label for="param13">max_features</label>
        <select name="max_features" id="param13">
            <option value="None" selected>None</option>
            <option value="sqrt">sqrt</option>
            <option value="log2">log2</option>
        </select>
        <p>Description : The number of features to consider when looking for the best split.</p>
    </div>

    <div>
        <label for="param14">verbose</label>
        <input type="number" name="verbose" id="param14" value="0" min="0">
        <p>Description : Enable verbose output.</p>
    </div>

    <div>
        <label for="param15">max_leaf_nodes</label>
        <input type="text" name="max_leaf_nodes" id="param15" value="None">
        <p>Description : Grow trees with max_leaf_nodes in best-first fashion.</p>
    </div>

    <div>
        <label for="warmStartCheckbox">warm_start</label>
        <input type="checkbox" name="warm_start" id="warmStartCheckbox">
        <p>Description : When set to True, reuse the solution of the previous call to fit and add more estimators to the ensemble, otherwise, just erase the previous solution.</p>
    </div>

    
    <div>
        <label for="validationFraction">validation_fraction</label>
        <input type="number" name="validation_fraction" id="validationFraction" step="0.01" min="0.01" max="0.99" value="0.1">
        <p>Description : The proportion of training data to set aside as validation set for early stopping. Values must be in the range (0.0, 1.0). Only used if n_iter_no_change is set to an integer.</p>
       
    </div>

    <div>
        <label for="nIterNoChange">n_iter_no_change</label>
        <input type="number" name="n_iter_no_change" id="nIterNoChange" step="1" min="1" value="">
        <p>Description : n_iter_no_change is used to decide if early stopping will be used to terminate training when validation score is not improving. By default it is set to None to disable early stopping. If set to a number, it will set aside validation_fraction size of the training data as validation and terminate training when validation score is not improving in all of the previous n_iter_no_change numbers of iterations. The split is stratified. Values must be in the range [1, inf). See Early stopping in Gradient Boosting.</p>
       
    </div>

    <div>
        <label for="tol">tol</label>
        <input type="number" name="tol" id="tol" step="0.0001" min="0.0001" value="0.0001">
        <p>Description : Tolerance for the early stopping. When the loss is not improving by at least tol for n_iter_no_change iterations (if set to a number), the training stops. Values must be in the range [0.0, inf).</p>
      
    </div>


    <div>
        <label for="ccpAlpha">ccp_alpha</label>
        <input type="number" name="ccp_alpha" id="ccpAlpha" step="0.01" min="0.0" value="0.0">
        <p>Description : Complexity parameter used for Minimal Cost-Complexity Pruning. The subtree with the largest cost complexity that is smaller than ccp_alpha will be chosen. By default, no pruning is performed. Values must be in the range [0.0, inf).</p>
    </div>


    <div class="conteneur-bouton">
        <button class="bouton-envoyer">Valider</button>
    </div>
</form>
