@{
    ViewData["Title"] = "Random Forest";
}
<style>
    .conteneur-bouton {
        text-align: center;
    }

    .bouton-envoyer {
        margin: 0 auto;
    }
</style>
<h2>Veuillez choisir vos paramètres</h2>
<form method="get" action="">

    <div>
        <label for="param1">Paramètre 1</label>
        <input type="text" name="Param1" id="Param1" >
        <p>Description du paramètre 1 : Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div>
        <label for="param2">Paramètre 2</label>
        <input type="text" name="Param2" id="Param2" >
        <p>Description du paramètre 2 : Ut aliquam ligula sit amet arcu convallis, eget rutrum lorem sollicitudin.</p>
    </div>

    <div>
        <label for="param3">Paramètre 3</label>
        <input type="text" name="Param3" id="Param3" >
        <p>Description du paramètre 3 : Sed ultrices felis sit amet arcu iaculis aliquet.</p>
    </div>

    <div class="conteneur-bouton">
        <button class="bouton-envoyer">Valider</button>
    </div>
</form>
