@{
    ViewData["Title"] = "Gaussian Naive Bayes";
}
<style>
    .conteneur-bouton {
        text-align: center;
    }

    .bouton-envoyer {
        margin: 0 auto;
    }
</style>
<h2>Veuillez choisir vos paramètres</h2>
<form method="get" action="">

    <div>
        <label for="param1">Priors</label>
        <input type="text" name="Param1" id="Param1" value="None" pattern="[A-Za-z]+" title="Entrez un string uniquement">
        <p>Description : Prior probabilities of the classes. If specified, the priors are not adjusted according to the data.</p>
    </div>

    <div>
        <label for="param2">Var_smoothing</label>
        <input type="text" name="Param2" id="Param2" value="1e-9" pattern="[0-9]+(\.[0-9]+)?" title="Entrez un nombre flottant (ex: 1.0)">
        <p>Description : Portion of the largest variance of all features that is added to variances for calculation stability.</p>
    </div>

    <div class="conteneur-bouton">
        <button class="bouton-envoyer">Valider</button>
    </div>
</form>
