@{
    ViewData["Title"] = "ExtraTreesClassifier";
}
<style>
    .conteneur-bouton {
        text-align: center;
    }

    .bouton-envoyer {
        margin: 0 auto;
    }
</style>
<h2>Veuillez choisir vos paramètres</h2>
<form method="get" action="">

    <div>
        <label for="param1">n_estimators</label>
        <input type="number" name="Param1" id="Param1" value="100" min="1">
        <p>Description : The number of trees in the forest.</p>
    </div>

    <div>
        <label for="param2">criterion</label>
        <select name="Param2" id="Param2">
            <option value="gini" selected>Gini</option>
            <option value="entropy">Entropy</option>
            <option value="log_loss">Log Loss</option>
        </select>
        <p>Description : The function to measure the quality of a split.</p>
    </div>

    <div>
        <label for="param3">max_depth</label>
        <input type="text" name="Param3" id="Param3" value="None">
        <p>Description : The maximum depth of the tree.</p>
    </div>

    <div>
        <label for="param4">min_samples_split</label>
        <input type="text" name="Param4" id="Param4" value="2">
        <p>Description : The minimum number of samples required to split an internal node.</p>
    </div>

    <div>
        <label for="param5">min_samples_leaf</label>
        <input type="text" name="Param5" id="Param5" value="1">
        <p>Description : The minimum number of samples required to be at a leaf node.</p>
    </div>

    <div>
        <label for="param6">min_weight_fraction_leaf</label>
        <input type="text" name="Param6" id="Param6" value="0.0">
        <p>Description : The minimum weighted fraction of the sum total of weights required to be at a leaf node.</p>
    </div>

    <div>
        <label for="param7">max_features</label>
        <select name="Param7" id="Param7">
            <option value="sqrt" selected>Square Root</option>
            <option value="log2">Logarithm Base 2</option>
            <option value="None">None</option>
        </select>
        <p>Description : The number of features to consider when looking for the best split.</p>
    </div>

    <div>
        <label for="param8">max_leaf_nodes</label>
        <input type="text" name="Param8" id="Param8" value="None">
        <p>Description : Grow trees with max_leaf_nodes in best-first fashion.</p>
    </div>

    <div>
        <label for="param9">min_impurity_decrease</label>
        <input type="text" name="Param9" id="Param9" value="0.0">
        <p>Description : A node will be split if this split induces a decrease of the impurity greater than or equal to this value.</p>
    </div>

    <div>
        <label for="param10">bootstrap</label>
        <select name="Param10" id="Param10">
            <option value="True">True</option>
            <option value="False" selected>False</option>
        </select>
        <p>Description : Whether bootstrap samples are used when building trees.</p>
    </div>

    <div>
        <label for="param11">oob_score</label>
        <select name="Param11" id="Param11">
            <option value="True">True</option>
            <option value="False" selected>False</option>
        </select>
        <p>Description : Whether to use out-of-bag samples to estimate the generalization score.</p>
    </div>

    <div>
        <label for="param12">n_jobs</label>
        <input type="text" name="Param12" id="Param12" value="None">
        <p>Description : The number of jobs to run in parallel.</p>
    </div>

    <div>
        <label for="param13">random_state</label>
        <input type="text" name="Param13" id="Param13" value="None">
        <p>Description : Controls the randomness of the bootstrapping and feature sampling.</p>
    </div>

    <div>
        <label for="param14">verbose</label>
        <input type="text" name="Param14" id="Param14" value="0">
        <p>Description : Controls the verbosity when fitting and predicting.</p>
    </div>

    <div>
        <label for="param15">warm_start</label>
        <select name="Param15" id="Param15">
            <option value="True">True</option>
            <option value="False" selected>False</option>
        </select>
        <p>Description : Reuse the solution of the previous call to fit and add more estimators to the ensemble.</p>
    </div>

    <div>
        <label for="param16">class_weight</label>
        <select name="Param16" id="Param16">
            <option value="None" selected>None</option>
            <option value="balanced">Balanced</option>
            <option value="balanced_subsample">Balanced Subsample</option>
        </select>
        <p>Description : Weights associated with classes.</p>
    </div>

    <div>
        <label for="param17">ccp_alpha</label>
        <input type="text" name="Param17" id="Param17" value="0.0">
        <p>Description : Complexity parameter used for Minimal Cost-Complexity Pruning.</p>
    </div>

    <div>
        <label for="param18">max_samples</label>
        <input type="text" name="Param18" id="Param18" value="None">
        <p>Description : If bootstrap is True, the number of samples to draw from X to train each base estimator.</p>
    </div>

    <div>
        <label for="param19">monotonic_cst</label>
        <input type="text" name="Param19" id="Param19" value="None">
        <p>Description : Indicates the monotonicity constraint to enforce on each feature.</p>
    </div>


    <div class="conteneur-bouton">
        <button class="bouton-envoyer">Valider</button>
    </div>
</form>
