@{
    ViewData["Title"] = "Machine Learning";
}

<div class="text-center">
    <h2>Liste des différents modèles de machine learning :</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Nom du modèle</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a asp-controller="Model1" asp-action="Index" class="btn btn-primary">Gaussian Naive Bayes</a></td>
                <td>Description du modèle 1</td>
            </tr>
            <tr>
                <td><a asp-controller="Model2" asp-action="Index" class="btn btn-primary">DecisionTreeClassifier</a></td>
                <td>Description du modèle 2</td>
            </tr>
            <tr>
                <td><a asp-controller="Model3" asp-action="Index" class="btn btn-primary">RandomForestClassifier</a></td>
                <td>Description du modèle 3</td>
            </tr>
            <tr>
                <td><a asp-controller="Model4" asp-action="Index" class="btn btn-primary">ExtraTreesClassifier</a></td>
                <td>Description du modèle 4</td>
            </tr>
            <tr>
                <td><a asp-controller="Model5" asp-action="Index" class="btn btn-primary">GradientBoosting</a></td>
                <td>Description du modèle 5</td>
            </tr>
            <tr>
                <td><a asp-controller="Model6" asp-action="Index" class="btn btn-primary">AdaBoost</a></td>
                <td>Description du modèle 6</td>
            </tr>
            <tr>
                <td><a asp-controller="Model7" asp-action="Index" class="btn btn-primary">SVM</a></td>
                <td>Description du modèle 7</td>
            </tr>
            <tr>
                <td><a asp-controller="Model8" asp-action="Index" class="btn btn-primary">KNN</a></td>
                <td>Description du modèle 8</td>
            </tr>

        
        </tbody>
    </table>
</div>
